# Exercises

To get started with the exercises, go ahead and take a look at RideShareDB. This database was created with data from a dataset on [Kaggle](https://www.kaggle.com/fivethirtyeight/uber-pickups-in-new-york-city). The dataset was made using data obtained from the NYC Taxi and Limosine Commission or TLC. TLC tracks this data by base and even rideshare companies such as Uber and Lyft have assigned bases that each pickup must be attributed to. For the exercises, we will be using the `other-FHV-services-jan-july15` and `lyft` tables in RideShareDB.Â These tables include the data for each pickup attributed to a few other For-Hire Vehicles (FHV) services and Lyft. These tables do not include any data from Uber.

## String Functions

Write a query that returns the last 3 characters of the base name in `other-FHV-services-jan-july15`. Do you see anything that is a common abbreviation at the end of business names?

<u>**I see that there are common abbreviations llike inc or inc. and llc**</u>

In [3]:
---QUERY TO SEE THE TOP 10 OF OTHER TABLE
SELECT TOP 10 * 
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015

Base_Number,Base_Name,Pick_Up_Date,Number_of_Trips,Number_of_Vehicles
B00013,LOVE CORP CAR INC,2015-01-01,26,17
B00014,NY ONE CORP CAR INC,2015-01-01,45,24
B00029,COMMUNITY CAR SVC CORP,2015-01-01,731,36
B00053,CHARGE AND RIDE INC,2015-01-01,10,9
B00095,LIBERTY CAR SERVICE INC.,2015-01-01,814,62
B00221,PROFESSIONAL CAR SERVICE INC,2015-01-01,220,46
B00227,"PARK WEST EXEC. SERVICES, INC.",2015-01-01,36,28
B00248,YELLOWSTONE TRANSPORTATION INC.,2015-01-01,"1,137",106
B00254,XYZ TWO WAY RADIO,2015-01-01,236,103
B00280,FLEET RADIO DISPATCH CORP.,2015-01-01,47,29

In [51]:
SELECT TOP 20 RIGHT(Base_Name,3)
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015

(No column name)
INC
INC
ORP
INC
NC.
INC
NC.
NC.
DIO
RP.
NC.
INC
LTD
ORP
INC
NC.
LLC
INC
NC.
NC.

The number of trips and the number of pickups are both stored as strings in `other-FHV-services-jan-july15`. This is because the data provided included spaces in some of the numbers. Write a query that returns the location of spaces in both of these columns.

In [14]:
SELECT 
    TOP 10
    Number_of_Trips,
    CHARINDEX(' ', Number_of_Trips) AS 'Number of trip space location',
    Number_of_Vehicles,
    CHARINDEX(' ', Number_of_Vehicles) AS 'Number of vehicles space location'
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015

Number_of_Trips,Number of trip space location,Number_of_Vehicles,Number of vehicles space location
26,3,17,3
45,3,24,3
731,4,36,3
10,3,9,2
814,4,62,3
220,4,46,3
36,3,28,3
"1,137",1,106,4
236,4,103,4
47,3,29,3

## Date Functions

For ``other-FHV-services-jan-july15``, display the name of month of the pickup date and order in descending order. Is the result of this query what you expected?

In [48]:
SELECT 
TOP 10
    Base_Number,
    DATENAME(MONTH, Pick_Up_Date) AS 'Month of Pick Up Date'
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015
ORDER BY DATENAME(Month, Pick_Up_Date) DESC

Base_Number,Month of Pick Up Date
B00008,May
B00009,May
B00013,May
B00014,May
B00021,May
B00029,May
B00030,May
B00035,May
B00078,May
B00083,May

Using `other-FHV-services-jan-july15`, write a query that returns the day number of the pickup date and month name and orders it in ascending order by day number.

In [47]:
SELECT 
TOP 10
    Base_Number,
    DATEPART(DAY, Pick_Up_Date) AS 'DATE(DAY) of Pick Up Date'
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015
ORDER BY DATEPART(DAY, Pick_Up_Date) ASC

Base_Number,DATE(DAY) of Pick Up Date
B00310,1
B00280,1
B00254,1
B00248,1
B00227,1
B00221,1
B00095,1
B00053,1
B00029,1
B00014,1

## Aggregate Functions

Write a query that returns the most easterly Lyft pickup.

In [23]:
SELECT TOP 10 *
FROM RideShareDB.dbo.lyft

time_of_trip,start_lat,start_lng
2014-09-04 09:51:00.0000000,40.64705,-73.77988
2014-08-27 21:13:00.0000000,40.74916,-73.98373
2014-09-04 14:16:00.0000000,40.64065,-73.97594
2014-09-04 16:08:00.0000000,40.75002,-73.99514
2014-08-28 02:41:00.0000000,40.76715,-73.98636
2014-09-13 03:57:00.0000000,40.70707,-74.01211
2014-09-11 23:13:00.0000000,40.72953,-73.97799
2014-08-27 22:56:00.0000000,40.76689,-73.95631
2014-09-10 17:48:00.0000000,40.82332,-73.86235
2014-09-12 23:24:00.0000000,40.72188,-73.99732

In [2]:
SELECT MAX(start_lng) AS 'Most Eastern Longitude' 
FROM RideShareDB.dbo.lyft

Most Eastern Longitude
-73.72315

In [40]:
SELECT TOP 3
    time_of_trip,
    start_lat,
    MIN(start_lng) AS 'Easter most Lyft Pickup' 
FROM RideShareDB.dbo.lyft
GROUP BY start_lng, start_lat, time_of_trip
ORDER BY start_lng ASC

time_of_trip,start_lat,Easter most Lyft Pickup
2014-07-26 04:21:00.0000000,NULL,NULL
2014-08-14 02:23:00.0000000,40.52785,-74.22689
2014-08-11 00:00:00.0000000,40.53042,-74.20857

Write a query the returns the most northerly Lyft pickup.

In [3]:
SELECT MAX(start_lat) AS 'Most Northernly Longitude' 
FROM RideShareDB.dbo.lyft

Most Northernly Longitude
40.93562

In [43]:
SELECT TOP 1
    time_of_trip,
    start_lng,
    MIN(start_lat) AS 'Most Northernly Lyft pickup' 
FROM RideShareDB.dbo.lyft
GROUP BY start_lat, start_lng, time_of_trip
ORDER BY start_lat DESC

time_of_trip,start_lng,Most Northernly Lyft pickup
2014-08-23 06:06:00.0000000,-73.89887,40.93562

Using ``other-FHV-services-jan-july15``, write a query that connects the the base number and the base name in a string that uses the following format: base\_number: base\_name.

In [46]:
SELECT
TOP 10
    CONCAT_WS(':',Base_Number,Base_Name) As 'BaseNumber:BaseName'
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015

BaseNumber:BaseName
B00013:LOVE CORP CAR INC
B00014:NY ONE CORP CAR INC
B00029:COMMUNITY CAR SVC CORP
B00053:CHARGE AND RIDE INC
B00095:LIBERTY CAR SERVICE INC.
B00221:PROFESSIONAL CAR SERVICE INC
"B00227:PARK WEST EXEC. SERVICES, INC."
B00248:YELLOWSTONE TRANSPORTATION INC.
B00254:XYZ TWO WAY RADIO
B00280:FLEET RADIO DISPATCH CORP.